
@{
    ViewBag.Title = "ShowAssignedTasks";
}

<h2>ShowAssignedTasks</h2>

<br />
<a href="/Employee/ShowPendingTasks" class="btn btn-warning">Show Pending Tasks</a>
<br />
<br />

@foreach (var item in Model)
{
    <h3 class="bg-info">Restaurant Name: @item.CollectRequest.Restaurant.Name</h3>
    <h4>Location: @item.CollectRequest.Restaurant.Location</h4>
    <h4>Status: @item.CollectRequest.Status</h4>
    foreach (var i in item.CollectRequest.FoodDetails)
    {
        <h4>Food Name: @i.Name</h4>
        <h4>Food Amount: @i.Amount</h4>
    }
    <h4>Assigned delivery guy: @item.Employee.Name</h4>
}