@model WebApplication1.Models.Student

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@ViewBag.Name<br />
@ViewData["Cgpa"]<br />

@foreach (var item in ViewBag.Courses)
{
    @item;<br />
}

@Model.Bg <br />
@Model.Cgpa <br />
@Model.Dob <br />
@Model.Id <br />
@Model.Name <br />